div .primary{
        padding-top: 55px;
        margin-left: 50px;
        margin-right: 100px;
    }
    .body{
        background-color: lightgrey;
        margin-left: 0px;
        margin-right: 330px;
    }
    h1{
        text-align: center;
        font-size: 50px;
    }
    .words{
        display: flex;
    }
    .otherwords{
        margin-left:200px;
    }
    p{
        color: black;
    }
    h2{
        font-size: 35px;
    }
    h3, h4, h5{
        font-size: 30px;
    }
    /*.navbar{
        margin-top: -5px;
    }*/
    @media screen and (max-width: 500px){
        div .primary{
            margin-left: 0px;
            margin-right: 0px;
        }
        .card{
            margin-left: 0px;
            margin-right: 0px;
        }
        .words{
            display: block;
        }
        .body{
        background-color: lightgrey;
        margin-left: 0px;
        margin-right: 0px;
    }
        }
        .otherwords{
            margin-left:0px;
        }
        p{
            color: black;
        }
        h2{
            font-size: 30px;
        }
        h3, h4, h5{
            font-size: 25px;
        }
    }
